/node_modules
/.docker
/.landscape
/.local
.aws
.azure
.bash_history
.bash_logout
.bashrc
.motd_shown
.profile
.sudo_as_admin_successful
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
